.emojiContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 100%;
}
.gridItem{
    grid-row: span;
}
.inputElement{
    width: 80%;    
}


  
@media (max-width: 768px) {
    .emojiContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .emojiContainer {
      grid-template-columns: 1fr;
    }
    .inputElement{
        width: 100%;
    }
  }
  
  