*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}
img{
    width: 50%;
    height: 100%;
}
#pokemon-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    margin-bottom: 5rem;
}
#pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.2px grey solid;
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    gap: 1rem;
}
#search-container{
    margin: 2.5rem 0;
    padding: 2.5rem 0;
}
#search-container input{
    width: 35rem;
}
#search-container input,button{
    border: 1px solid grey;
    outline: 1px solid grey;
    padding: .5rem;
    font-size: 1.2rem;
    border-radius: 10px;
}
#search-container button:hover,button:focus{
    cursor: pointer;
    background-color: #ababab;
    color: #fff;
}
