
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courgette', cursive;
    background-color: #66475C;

}
.quote{
    color: #E3B1D5;
    text-align: center;
    font-size: 40px;
    max-width: 600px;
    padding: 10px;
}
.author{
    font-size: 24px;
    text-align: left;
    color: #E3B1D5;
    opacity: 60%;
    padding: 10px;
}
#quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}