.inputContainer{
    width: 90%;
    margin: 0 auto;
    margin-bottom:  2rem ;
}
.inputContainer input{
    width: 40%;
    height: 2rem;
    outline: 2.5px solid grey;
    color:black;
    font-size: 1.2rem;
    padding: 1.3rem 1rem;
    border-radius: .5rem;
}
.table{
    min-width: 80%;
    margin: 1rem auto;
}
.table tbody > tr:nth-child(odd){
    background-color: grey;    
}
.table td{
    padding: .5rem;
    font-size: 1.2rem;
}
.heading{
    font-size: 1.8rem;
    font-weight: bold;
}
.button{
    background-color: grey;
    padding: .5rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: .5rem;
}