#header,.footer{
    background-color: #274edd;
    font-size: 1.2rem;
    color: #e9e9e9;
}

.table{
    width: 100%;
}
.table thead{
    background-color: #5a689f;
    color: #e9e9e9;
}
.tr:nth-child(even){
    background-color: #7d85a7;
}
.tr td{
    padding: 1.2rem .2rem;
    text-align: center;
}
#tableContainer{
    flex-direction: column;
}
#main{
    background-color: #e9e9e9;
    color: #2c2c2c;
    width: 100%;
    min-height: 100vh;
}
.logo{
    font-weight: bold;
}
#hero{
    width: 100%;
    height: 15rem;
    background-color: #c5d8ff;
    font: bold 3rem sans-serif ;
    color: #2a3e8a;
}
.description{
    padding: 4rem 0;
    width: 85%;
    gap: 3rem;
    margin: 0 auto;
}
.description,.footer,#hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.desContainer{
    width: 60%;
}
.heading{
    font-weight: bold;
    padding: 1.2rem 0;
    font-size: 1.5rem;
}
.imageContainer{
    width: 40%;
}
.footer{
    width: 100%;
    height: 3rem;
}
