*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
    background-color: #ffeed8;
    gap: .8rem;
}
p{
    width: 80%;
}
form,body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form{
    width: 90%;
    gap: .4rem;
}
form > input{
    width: 67%;
    height: 2rem;
}
form > input,button{
    border-radius: 8px;
    outline: #d6d0c9 2px solid;
    border: #ffeed8 .2px solid;
    padding: .2rem .5rem;
    font-size: 1rem;
}
.result{
    text-align: center;
    color: blue;
}