*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 3.5rem auto;
    font: 1rem sans-serif;
}
table{
    min-width: 100%;
}
table tr td{
    padding: .5rem;
    text-align: center;
}
tr:nth-child(even){
    background-color: #685858;
    color: #fff;
}